{% extends 'base.html' %}

{% block page_title %}
Your Details
{% endblock %}

{% block content %}
<div class="col-sm-10">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="{% url 'company' user %}" method="POST" id='company_details_form'>{% csrf_token %}
        <h4 class="text-center">Enter Your Details</h4>
        <div class="row">
            <div class="col-sm-12">
                Head Quarter:
                <input type="text" name="headquarter" class="form-control" placeholder="Head-Quarter">
                Sub Quarter:
                <input type="text" name="subquarter" class="form-control" placeholder="Sub-Quarters">
                Achievements:
                <input type="text" name="achievements" class="form-control" placeholder="Achievements">
                About:
                <textarea name="about" form="company_details_form" class="form-control" placeholder="About Yourself"></textarea>
                <br>
                <input type="submit" value="Submit" class="form-control btn btn-success">
            </div>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}