{% extends 'base.html' %}

{% block page_title %}
{{request.user}} - TechParadise
{% endblock %}

{% block content %}
<div class="col-sm-10">
    <div class="alert alert-info alert-dismissible fade show" role="alert" style="padding-bottom: 0px;margin-bottom: -1px;">
        <p class="messages text-center">
          Hello {{request.user}}. Finding Employees? Get Employees <a href="#" class="link-success">here</a>.
        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-10">
            <h2>
                <p class="fw-lighter">
                    {{ request.user|capfirst }} PVT LTD
                </p>
            </h2>
            {% if company_details.achievements %}
            <hr>
            <p class="lh-base">
                Achievements: {{company_details.achievements}} <br>
            </p>
            {% endif %}
            {% if company_details.about %}
            <hr>
            <p class="fw-bold">
                About: {{company_details.about}}
            </p>
            {% endif %}
            {% if company_details.headquarter %}
            <hr>
            <h5>
                <p class="fw-bolder">
                    Head Quarter:
                    {{ company_details.headquarter }}
                </p>
            </h5>
            {% endif %}
            {% if company_quarter_details %}
            {{ company_quarter_details.subquarter }}
            {% endif %}
        </div>
        <div class="col-sm-2">
            {% if company_details.first_name is not None %}
            <a href="{% url 'company_details' user %}" class="btn btn-success">Edit Profile</a>
            {% else %}
            <a href="{% url 'company_details' user %}" class="btn btn-success">Add Profile</a> <br>
            <small style="text-align: right; font-size: small" class="text-muted">Complete Your Profile.</small>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}