{% extends 'base.html' %}

{% load static %}

{% block page_title %}
CodeChef - {{request.user}}
{% endblock %}

{% block content %}
{% if codechef %}
<div class="col-sm-10">
    <div class="row card-body" style="padding-left: 5px;">
        <div class="col-sm-6">
            <form action="{% url 'codechef' user %}" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search CodeChef User By Exact Username" aria-label="Search" name="q" required>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <h4>
        <p class="fst-italic">
        <img src="{% static 'img/codechef_logo.jpeg' %}" height="50px">
            CodeChef User: {{codechef.user_details.name}} ({{codechef.user_details.username}})
        </p> 
    </h4>
    <h5>Stars : {{codechef.stars}}</h5>
    <strong>
        <div class="row">
            <div class="col-sm-6">
                Current Rating : {{codechef.rating}} <br>
                Global Rank : {{codechef.global_rank}}
            </div>
            <div class="col-sm-6">
                Highest Rating : {{codechef.highest_rating}} <br>
                Country Rank : {{codechef.country_rank}}
            </div>
        </div>
    </strong>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5>Contest played by {{codechef.user_details.username}}</h5>
            <table class="table text-center">
                <thead class="text-center">
                    <th>
                        Contest Code
                    </th>
                    <th>
                        Contest Name
                    </th>
                    <th>
                        Contest Rating
                    </th>
                    <th>
                        Contest Rank
                    </th>
                </thead>
                <tbody>
                    {% for contest in codechef.contest_ratings %}
                    <tr>
                        <td>
                            {{contest.code}}
                        </td>
                        <td>
                            {{contest.name}}
                        </td>
                        <td>
                            {{contest.rating}}
                        </td>
                        <td>
                            {{contest.rank}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="col-sm-10">
    <div class="row card-body" style="padding-left: 5px;">
        <div class="col-sm-6">
            <form action="{% url 'codechef' user %}" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search CodeChef User By Exact Username" aria-label="Search" name="q" required>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}