{% extends 'base.html' %}
{% load static %}
{% block page_title %}
{% if login %}
Login
{% else %}
Sign In
{% endif %}
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {% if login %}
            <div class="card" style="margin-top: 75px;">
                <div class="card-body centered">
                    <h1 class="h3 mb-3 fw-normal text-center">Login</h1>
                    {{form.as_p}}
                    <center><button class="form-control btn btn-lg btn-success text-center" type="submit">Login</button><br><br></center>
                    <p class="text-center text-muted">____________________ or ____________________</p>
                    <p class="text-center text-muted">Login with:</p>
                    <div class="text-center">
                        <a href="#"><img src="{% static 'img/google_logo.jpeg' %}" width="25px" style="margin: auto;"></a>
                    </div>
                    <hr>
                    <p class="text-center">Don't have an account? <strong><a href="{% url 'applicant_register' %}" class="link-success">Sign In</a></strong></p>
                </div>
            </div>
            {% else %}
            <div class="card" style="margin-top: 10px;">
                <div class="card-body">
                    <h1 class="h3 mb-3 fw-normal text-center">Sign In</h1>
                    {{form.as_p}}
                    <center><button class="form-control btn btn-lg btn-success text-center" type="submit">Sign In</button><br><br></center>
                    <p class="text-center text-muted">____________________ or ____________________</p>
                    <p class="text-center text-muted">Sign In with:</p>
                    <div class="text-center">
                        <a href="#"><img src="{% static 'img/google_logo.jpeg' %}" width="25px" style="margin: auto;"></a>
                    </div>
                    <hr>
                    <p class="text-center">Already have an account? <strong><a href="{% url 'applicant_login' %}" class="link-success">Login</a></strong></p>
                </div>
            </div>
            <br>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}