{% extends 'base.html' %}

{% load static %}

{% block page_title %}
{% if git_user is not None %}
{{git_user.login}} - Github
{% else %}
Github - Tech Paradise
{% endif %}
{% endblock %}

{% block content %}
<div class="col-sm-10" style="padding: 10px;">
    <div class="card-body">
        <div class="row" style="padding-left: 5px;">
        <div class="col-sm-6">
        <form action="" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Github User By Exact Username" aria-label="Search" name="q" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
    {% if username is not None and git_user is not None %}
    <div class="col-sm-3">
        <a href="{% url 'github' user %}" class="btn btn-success">My Repositories</a>
    </div>
    {% endif %}
</div>
{% if git_user is not None %}
<br>
<div class="row" style="padding-left: 5px;">
    <div class="col-sm-11">
        <h4><img src="{% static 'img/github_logo.jpeg' %}" width="50px">{{git_user.login}} ({{git_user.name}})</h4>
        <h4>Public Repos for {{git_user.login}}</h4>
        {% for repo in repos %}
        <div class="card" style="margin-bottom: 5px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        Repository name: {{repo.name}}
                    </div>
                    <a href="https://github.com/{{git_user.login}}/{{repo.name}}" class="link-dark">{{git_user.login}}/{{repo.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
</div>
</div>
{% endblock %}